@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

:root {
  --font-serif: "Merriweather", serif;
  --font-sans: "Source Sans Pro", sans-serif;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #50514f;
  --color-red: #f25f5c;
  --color-yellow: #ffe066;
  --color-blue: #247ba0;
  --color-green: #70c1b3;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  font-family: var(--font-sans);
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--font-serif);
}

h1,
.h1 {
  font-size: clamp(1.75rem, 1rem + 3vw, 4.25rem);
}

h2,
.h2 {
  font-size: clamp(1.25rem, 1rem + 2.5vw, 3.75rem);
}

h3,
.h3 {
  font-size: clamp(1rem, 1rem + 1.75vw, 3.25rem);
}

h4,
.h4 {
  font-size: clamp(0.75rem, 1rem + 1.5vw, 1.25rem);
}

h5,
.h5 {
  font-size: clamp(0.5rem, 1rem + 1.25vw, 1rem);
}

h6,
.h6 {
  font-size: clamp(1.75rem, 1rem + 3vw, 4.25rem);
}
